<footer class="footer">
    <div class="footer__container container">
        <div class="footer__content">
            <a href="index.html" class="footer__logo">
                <span class="footer__logo-text">&lt;Marcos Vilela Borges/&gt;</span>
            </a>

            <p class="footer__description">
                Estudante de ADS na FIAP, criando soluções inovadoras para um futuro digital.
            </p>

            <div class="footer__social">
                <a href="https://github.com/Marcosvilel" target="_blank" class="footer__social-link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/marcos-vilela-241b40191/" target="_blank" class="footer__social-link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://www.instagram.com/marcos_zxm/" target="_blank" class="footer__social-link">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <p>&copy; <span id="currentYear"></span> Marcos Vilela Borges - Todos os direitos reservados</p>
    </div>
</footer>